<link rel="stylesheet" href="./header.scss">

<header class="header">
    <div class="container">
        <div class="header__body padding--y-base flex row flex--sb">
            <a class="header__logo" href="#top" aria-label="CleanSpace home">
                <img src="@/assets/images/logo.svg" alt="CleanSpace">
            </a>
            <nav class="header__navigation">
                <ul class="flex row spacing--xl">
                    <li class="text text--lg text--line-height text--opacity-50">
                        <a href="#cases">Portfolio</a>
                    </li>
                    <li class="text text--lg text--line-height text--opacity-50">
                        <a href="#team">Team</a>
                    </li>
                    <li class="text text--lg text--line-height text--opacity-50">
                        <a href="#about">About</a>
                    </li>
                    <li class="text text--lg text--line-height text--opacity-50">
                        <a href="#story">Our story</a>
                    </li>
                    <li class="text text--lg text--line-height text--opacity-50">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </nav>
            <a class="header__phone text text--xl text--opacity-50" href="tel:+12125550198">
                +1 212 555 0198
            </a>
        </div>
    </div>
</header>
