@layer utilities {
  .flex {
    display: flex;
    min-width: 0;

    &.row {
      flex-direction: row;
    }
    &.wrap{
      flex-wrap: wrap;
    }
    &.column {
      flex-direction: column;
    }

    &--al-center {
      align-items: center;
    }
    &-ju-center {
      justify-content: center;
    }

    &--sb {
      justify-content: space-between;
    }

    &--end {
      align-items: flex-end;
      justify-content: flex-end;
    }

    &--wrap {
      flex-wrap: wrap;
    }

    &--1 {
      flex: 1 1 0;
    }
  }

  @media (max-width: 48rem) {
    .flex.row {
      flex-direction: column;
    }

    .flex--end {
      align-items: flex-start;
    }
  }
}
